<%- include ('../partials/headerLogin'); -%>
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile Management</title>

    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>


	<header>
		<h1>PROFILE</h1>
	</header>
	<section class=report>
		<p>
			<div id="report">
				
				FULL NAME:<br><br>
				
				EMAIL:<br><br>

				ADDRESS:<br><br>

				&nbsp<br><br>
				
				CITY:<br><br>
				
				STATE:<br><br>
				
				ZIP CODE:<br><br>
				
				<br><br><br>
				<button id="edit-btn" onclick="window.location.href = '/update_profile/<%= userid %>';">UPDATE</button>
			</div> 
			
			<div id='report'>
				
				<%= name.toUpperCase() %><br><br>

				<%= username.toUpperCase() %><br><br>
				
				<%= address1.toUpperCase() %><br><br>

				<%= address2.toUpperCase() %><br><br>
				
				<%= city.toUpperCase() %><br><br>
				
				<%= state %><br><br>
				
				<%= display_zipcode.toUpperCase() %>
			</div>
		
	</section>		
	

</body>
</html>

<%- include ('../partials/footer'); -%>


