<%- include ('partials/headerLogin'); -%>

<body class="text-center formQuote_body">

  <main class="form-quote-form w-100 m-auto">
    <form action="/add_fuel_quote" method='POST'>
      <img class="mb-4" src="images/title_img.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 fw-normal">Fuel Quote Form</h1>

      <div class="form-floating">
        <input type="number" id="gallonsRequested" name="gallonsRequested" class="form-control formQuote_top" placeholder="Gallons Requested" required>
        <label for="gals" class="formQuote_label">Gallons Requested *</label>
      </div>

      <div class="form-floating">
        <input class='required-input form-control formQuote_mid' type="text" id="address1" name="address1" required readonly>
        <label  for="address" class="formQuote_label">Address 1</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control formQuote_mid" id="address2" name="address2" placeholder="Address 2" readonly>
        <label for="address" class="formQuote_label">Address 2</label>
      </div>

      <div class="form-floating">
        <input class='required-input form-control formQuote_mid' type="text" id="city" name="city" placeholder="City" required readonly>
        <label for="city" class="formQuote_label">City</label>
      </div>

      <div class="form-floating">
        <input class='required-input form-control formQuote_mid' type="text" id="state" name="state" placeholder="State" required maxlength="100" readonly>
        <label for="state" class="formQuote_label">State</label>
      </div>

      <div class="form-floating">
        <input class='required-input form-control formQuote_mid' type="text" id="zipcode" name="zipcode" required pattern="[0-9]{5,9}" placeholder="Zip Code *" readonly>
        <label class="formQuote_label">Zip Code</label>
      </div>

      <div class="form-floating">
        <input type="date" id="deliveryDate" name="deliveryDate" class="form-control formQuote_mid" placeholder="Delivery Date">
        <label class="formQuote_label">Delivery Date</label>
      </div>
      <div class="form-floating">
        <input type="number" id="suggestedPrice" name="suggestedPrice" class="form-control formQuote_mid" placeholder="Suggested Price" readonly>
        <label for="price "class="formQuote_label">Suggested Price</label>
      </div>
      <div class="form-floating">
        <input type="number" id="totalPrice" name="totalPrice" class="form-control formQuote_bot" placeholder="Total Amount Due" readonly>
        <label for="total" class="formQuote_label">Total Amount Due</label>
      </div>
      <button class="btn btn-outline-light btn-lg download-buttons" type="button" onclick="calculatePrice()">Get Quote</button>
      <button id="submit-btn" class="btn btn-outline-light btn-lg download-buttons" type="submit" disabled>Confirm</button>
    </form>
  </main>
  <script>
    function calculatePrice()
    {
      // Gathering data for calculation
      const gal = Number(document.getElementById("gallonsRequested").value);
      let state = document.getElementById("state");
      state = state.value;
      const loc_factor = getLocationFactor(state);
      const hist_factor = checkHistory(); // Get from Fuel Quote History
      const gal_factor = getGallonFactor(gal);
      const margin = 1.5 * (loc_factor - hist_factor + gal_factor + 0.1);

      // Returns total price in Total Amount Due on web page
      const suggested_price = 1.5 +  margin;
      document.getElementById("suggestedPrice").value = suggested_price.toFixed(2);
      const total_price = suggested_price * gal;
      document.getElementById("totalPrice").value = total_price.toFixed(2);

      // Enables submit button
      const submit_btn = document.getElementById("submit-btn")
      submit_btn.disabled = false;
    }
    function getGallonFactor(gallons)
    {
      if (gallons > 1000)
        return 0.02;
      else
        return 0.03;
    }
    function getLocationFactor(st)
    {
      if (st == "TX")
        return 0.02;
      else
        return 0.04;
    }
    function checkHistory()
    {
      <% if (hasHistory) { %>
        return 0.01;
      <% } else { %>
        return 0;
    <% } %>
    }

    window.addEventListener('DOMContentLoaded', (event) =>
    {
      getAddress();
    });
    function getAddress()
    {
      document.getElementById("address1").value = "<%= address1 %>";
      if (!document.getElementById("address2").value)
        document.getElementById("address2").value = " ";
      else
        document.getElementById("address2").value = "<%= address2 %>";
      document.getElementById("city").value = "<%= city %>";
      document.getElementById("state").value = "<%= state %>";
      document.getElementById("zipcode").value = "<%= zipcode %>";
    }

  </script>
</body>

<%- include ('partials/footer'); -%>