<%- include ('partials/headerLogin'); -%>

<body class="text-center " >

<main>
    <div class="container-fluid " >
        <% if (quotes.length > 0) { %>
            <h1 style = "margin-bottom: 50px">Quote History</h1>
            <table class="table table-bordered table-dark" >
                <thead>
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col" >Gallons Requested</th>
                    <th scope="col" >Delivery Address</th>
                    <th scope="col" >Delivery Date</th>
                    <th scope="col" >Suggested Price</th>
                    <th scope="col" >Amount Paid</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i =0; i < quotes.length; i++) { %>
                    <% if (quotes[i].deliveryDate !== null) { %>
                        <% var dateWithoutTime = quotes[i].deliveryDate.toLocaleDateString(); %>
                    <% } else { %>
                        <% var dateWithoutTime = quotes[i].deliveryDate; %>
                    <% } %>
                    <% var address1 = quotes[i].deliveryAddress.address1; %>
                    <% var address2 = quotes[i].deliveryAddress.address2 ;%>
                    <% var city = quotes[i].deliveryAddress.city; %>
                    <% var state = quotes[i].deliveryAddress.state;%>
                    <% var zipcode = quotes[i].deliveryAddress.zipcode; %>
                    <% var deliveryAddress = address1 + ' ' + address2 + ' ' + city + ' , ' + state + ' , ' + zipcode %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td ><%= quotes[i].gallonsRequested %></td>
                        <td ><%= deliveryAddress %></td>
                        <td ><%= dateWithoutTime %></td>
                        <td ><%= quotes[i].suggestedPrice %></td>
                        <td ><%= quotes[i].totalPrice %></td>
                    </tr>
                <% }; %>
                </tbody>
            </table>
        <% } else { %>
            <h3 style = 'margin-top: 150px'> No Quotes Found !</h3>
        <% }; %>
    </div>
</main>

<%- include ('partials/footer'); -%>
