<%- include ('partials/headerLogin'); -%>

<body class="text-center formQuote_body">

<main class="form-quote-form w-100 m-auto">
    <div class="container">
        <% if (quotes.length > 0) { %>
            <h1>Submitted Quotes</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-white">Index</th>
                    <th class="text-white">Gallons Requested</th>
                    <th class="text-white">Delivery Address</th>
                    <th class="text-white">Delivery Date</th>
                    <th class="text-white">Suggested Price</th>
                    <th class="text-white">Amount Paid</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i =0; i < quotes.length; i++) { %>
                    <% if (quotes[i].deliveryDate !== null) { %>
                        <% var dateWithoutTime = quotes[i].deliveryDate.toLocaleDateString(); %>
                    <% } else { %>
                        <% var dateWithoutTime = quotes[i].deliveryDate; %>
                    <% } %>
                    <tr>
                        <td class="text-white"><%= i + 1 %></td>
                        <td class="text-white"><%= quotes[i].gallonsRequested %></td>
                        <td class="text-white"><%= client_address %></td>
                        <td class="text-white"><%= dateWithoutTime %></td>
                        <td class="text-white"><%= quotes[i].suggestedPrice %></td>
                        <td class="text-white"><%= quotes[i].totalPrice %></td>
                    </tr>
                <% }; %>
                </tbody>
            </table>
        <% } else { %>
            <p> No quotes found.</p>
        <% }; %>
    </div>
</main>

<%- include ('partials/footer'); -%>
